body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.road {
    position: relative;
    width: 100%;
    height: 100vh; /* Высота дороги равна высоте окна браузера */
}

.sidewalk {
    position: absolute;
    width: 20%; /* Ширина обочины */
    height: 100%; /* Высота обочины */
    background-color: #bfbfbf; /* Цвет обочины */
    background-image: url(images/road/sidewalk.jpg);
    background-size: contain;
}

.sidewalk.left {
    left: 0;
}

.sidewalk.right {
    right: 0;
}

.driving-lane {
    position: absolute;
    width: 15%; /* Ширина полосы движения */
    height: 100%; /* Высота полосы движения */
    background-color: #fff; /* Цвет полосы движения */
    background-image: url(images/road/road.jpg);
    background-size: contain;
}
.left-opposing-lane {
    left: 20%;
}
.right-opposing-lane {
    left: 35%;
}
.left-on-lane {
    right: 35%;
}
.right-on-lane {
    right: 20%;
}

.divider {
    position: absolute;
    width: 0.7%; /* Ширина разделительной полосы */
    height: 100%; /* Высота разделительной полосы */
    background-color: #fff; /* Цвет разделительной полосы */
}

.divider.left {
    left: 20%; /* Разделительная полоса слева от первой полосы движения */
}

.divider.right {
    right: 20%; /* Разделительная полоса справа от второй полосы движения */
}

.divider.center {
    left: 50%;
}

.divider.opposing-lane {
    background-color: yellow;
    width: 0.5%;
    right: 35%; /* Разделительная полоса справа от второй полосы движения */
}

.divider.on-lane {
    background-color: yellow;
    width: 0.5%;
    left: 35%;
}